/* stylelint-disable declaration-block-no-redundant-longhand-properties */

/* stylelint-disable declaration-colon-space-after */
.home_page {
  display: grid;
  gap: 0.5rem 0.5rem;
  grid-template-areas:
    'categories-list cart-search cart-search'
    'categories-list products-list products-list'
    'categories-list products-list products-list';
}

.home_search_div {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: cart-search;
  margin-top: 1rem;
}

.home_search_div div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.home_search_div div input {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 35px;
  margin-right: 1rem;
  padding: 0 10px;
  width: 80%;
}

.btn_search {
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  margin-right: 1rem;
  padding: 0 10px;
}

.home_initial_message {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.categories_div {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: categories-list;
  margin-top: 2rem;
  padding: 0 1rem;
}

.categories_title {
  font-size: 1.2rem;
  font-weight: 00;
  text-transform: uppercase;
}

.categories_list {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.categorie_item {
  background: none;
  border: none;
  margin-bottom: 0.4rem;
}

.categorie_item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.products_div {
  display: flex;
  flex-wrap: wrap;
  grid-area: products-list;
  justify-content: center;
}

.product_card {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 1px black;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.8rem;
  width: 250px;
}

.product_img {
  height: 200px;
  margin-bottom: 0.5rem;
  width: 90%;
}

.product_detail_link {
  color: black;
  margin: 1rem 0;
}

.btn_add_to_cart {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.active {
  color: red;
}

.total_cart {
  align-items: center;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  display:flex;
  font-weight: 800;
  height: 15px;
  justify-content: center;
  left: -25px;
  padding: 0.5rem;
  position: relative;
  top: 10px;
  width: 15px;
  z-index: 2;
}

.link_cart {
  text-decoration: none;
}
